{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey,

          My name's Roy, I'm currently a Systems Engineer in the Transport Industry 
          trying to transition into the Tech Industry as a Software Engineer. I have 
          a Bachelor's of Engineering, majoring in Electrical Engineering and another 
          Bachelor's degree in Arts, majoring in Japanese and Chinese. 
        </p>
        <p>
          I didn't originally think I wanted to become a Software Engineer as during my
          university years, I very much disliked the aspect of coding in general and if
          you asked me back then whether I could see myself doing this, I definitely 
          would have said otherwise. Fast-forward a couple years after graduation and my
          current company needed someone who had some coding experience. As I had studied
          Python and C during my university years, the coding tasks fell onto me and it 
          was there that I found my passion for coding.
        </p>
        <p>
          I'm not sure how to put it, but I know after spending 3 hours trying to debug my
          code, I instantly knew that this was the career path that I wanted to pursue.
          There's something about constantly wanting to scream at the computer screen asking
          "WHAT IS WRONG?" that seems somewhat satisfying to me and I really wasn't sure 
          what it was that got me hooked.
        </p>
        <p>
          It wouldn't be until a little later on into my job that I really wanted to pursue
          this path as I wanted to give Systems Engineering a good go before I hung up the
          towel. 

          I'm more determined than ever to make this dream of mine a reality and I'm looking
          forward to what this future holds!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
